<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mongo Explorer API</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" >Mongo Explorer API</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/api-docs">API</a></li>
                    <li><a href="https://meanpathblog.wordpress.com/">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>Mongo Explorer API</h1>
            <p class="lead">API framework for exploring any Mongo database</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Getting started</h2>
                <p>
                    Mongo Explorer API is an API back end for Mongo Explorer project. Goto Swagger UI.
                </p>
                <p><a class="btn btn-default" href="/api-docs">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>MEAN Path Blog</h2>
                <p>Read my blog about my learning to be MEAN</p>
                <p><a class="btn btn-default" href="https://meanpathblog.wordpress.com/">Learn more &raquo;</a></p>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - Mongo Explorer API Application</p>
        </footer>
    </div>
</body>
</html>